body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 0;
  margin: 0;
}
 
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
  
}

img.welcome {
  max-width: 100%;
  border-radius: 5px;
}
 .header-text {
   text-align: center;
  text-decoration: none;
  color: white;
  font-size: 44px;
  padding: 40px;
}
.App-link {
  color: #61dafb;
}
 
.nav {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
  border-bottom: 4px solid white;
}

.nav a {
  font-size: 44px;
  padding: 10px 20px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid  #282c34;
  border-radius: 10px 10px 0 0;
  margin-bottom: -4px;
}
 
.tab {
  display: inline;
  border: 4px solid white;
}
.forms, .sheet, .about, .container {
  display: flex;
  flex-direction: column;
}
.about {
  align-items: flex-end;
}
.container {
  align-items: flex-start;
  min-width: 300px;
  padding-top: 40px;
}
.card {
  background-color: 
  #e8e7ea;
  min-height: 33vh;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
}
.card h2, h3, p, a, li {
  color: #282c34;
  /* color: #495da8; */
}
.card-link {
  display: block;
  color: #282c34;
}
h1 {
  font-size: 44px;
  line-height: 68px;
}
h2, a {
  font-size: 33px;
  line-height: 49px;
  text-decoration: none;
}
h3 {
  font-size: 22px;
  line-height: 33px;
}
p {
  font-size: 18px;
  line-height: 27px;
}
form {
  position: relative;
}
.divHeight {
  min-height: 30vh;
}
.divHeight p {
  padding-top: 40px;

}
button {
  font-size: 18px;
  padding: 9px;
  border-radius: 5px;
  background-color: #495da8;
  color: white;
  box-shadow: 3px 3px #282c34;
  position: absolute;
  bottom: 20px;
  
    /* 
  large button, 44px in height, border-radius 5
  medium button, 54px in height, border-radius 10
  extra large, 64px in height, border-radius 15
   */
}
button + button {
  left: 75px;
}
button + button + button {
  left: 235px;
}
button:hover {
  background-color:#3a4984;
}
a {
  color: white;
  /* color: #6779bd; */
}
a:hover {

  color:#3a4984;
}

/* colors: 
CTA color and a neutral color;
also a slightly lighter and darker variation of the above (10%)
darker: #3a4984
lighter: #6779bd
black: #282c34

*/
.dashboard {
  padding-bottom: 100px;
}

footer {
  background-color: #282c34;
  position: absolute;
  bottom: 0;
}

footer a, p {
  font-size: 16px;
  color: black;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .header-text {
    padding: 0;
  }
  h1 {
    margin: 0;
  }
  .nav a {
    font-size: 27px;
    margin: 0;
    border: 0;
    padding: 0;
  }
  footer {
    position: static;
    padding: 10px;
  }
  footer a, p {
     line-height: 27px;
  }
}
